*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  color: #292929;
  background-color: #fff;
  overflow-x: hidden;
}

.main {
  margin-bottom: 100px;
}

.main-subsite {
  margin-top: 100px;
}

.burger-btn {
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0.6em;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
.burger-btn__box {
  position: relative;
  width: 30px;
  height: 30px;
}
.burger-btn:hover .burger-btn__bars,
.burger-btn:hover .burger-btn__bars::after,
.burger-btn:hover .burger-btn__bars::before {
  background-color: #FF5D44;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  width: 100%;
  border-radius: 5px;
  height: 3px;
  content: "";
  background-color: #fff;
  transform: rotate(360deg);
  transition: width 0.3s;
  transition-duration: 0.22s;
  transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.burger-btn__bars::after {
  top: 13.5px;
  transform: rotate(0deg);
  transition: top 1ms 0.25s ease-in, transform 0.1s ease-in;
}
.burger-btn__bars::before {
  top: 27px;
  opacity: 1;
  transition: top 1ms 0.25s ease-in, opacity 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.burger-btn.is-active .burger-btn__bars {
  transform: rotate(315deg);
  top: 50%;
  transition-delay: 0.12s;
  transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.burger-btn.is-active .burger-btn__bars::before {
  top: 0;
  opacity: 0;
  transition: top 1ms ease-out, opacity 0.1s 0.12s ease-out;
}
.burger-btn.is-active .burger-btn__bars::after {
  top: 0;
  transform: rotate(-90deg);
  transition: op 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-container {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100vw;
  height: 100px;
  background-color: #292929;
  z-index: 100;
}
.nav-container .nav-desktop {
  grid-column: 2/3;
  display: none;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
}
.nav-container .nav-mobile {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background: #292929;
  transform: translateX(-102%);
  transition: transform 0.3s;
  z-index: 2000;
}
.nav-container .nav-mobile--active {
  transform: translateX(0%);
}
.nav-container .nav__link {
  display: block;
  padding: 0.5em;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
.nav-container .nav__link:hover {
  color: #FF5D44;
}

.shadow-bg {
  background-color: rgba(41, 41, 41, 0.9) !important;
}

.logo {
  display: flex;
  align-items: center;
  grid-column: 1/2;
  height: 100%;
}
.logo__img {
  position: absolute;
  height: 70px;
  left: 20px;
}
.logo__img.is-transparent {
  opacity: 0.8;
}

.hero {
  position: relative;
  height: 100vh;
  background-image: url(../img/hero6.jpg);
  background-size: cover;
  background-position: 50% 20%;
  background-attachment: fixed;
  z-index: 0;
}
.hero__text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  height: 100%;
}
.hero__heading {
  padding: 0 10px;
  font-family: "Dancing Script", serif;
  font-weight: 300;
  font-size: 5.2rem;
  margin-bottom: 60px;
}
.hero__description {
  font-size: 1.6rem;
}
.hero__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 41, 41, 0.6);
  z-index: -2;
}
.hero .arrow {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20px;
  font-size: 36px;
}
.hero .arrow a {
  color: #fff;
}
.hero .arrow .bounce-top {
  animation: bounce-top 2s infinite both;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.section-heading {
  position: relative;
  margin: 1em auto;
  font-size: 2.4rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "Merienda", serif;
  font-weight: 400;
  color: #FF5D44;
  letter-spacing: 2px;
}
.section-padding {
  padding: 2em 2em;
}
.section-description {
  text-align: center;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 1em;
}

.buttons__box {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 0.8em 1em;
  margin: 0.8em;
  font-size: 1.4rem;
  background: #FF5D44;
  border: none;
  border-radius: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.btn:hover {
  background: #fff;
  border: 1px solid #FF5D44;
  color: #FF5D44;
}

.content__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__box-heading {
  margin: 1.4em auto;
  font-family: "Merienda", serif;
  color: #FF5D44;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}
.content__box-photo {
  border: 2px solid rgba(41, 41, 41, 0.9);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  width: 60%;
}
.content__box-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content__photo {
  padding: 2px;
  width: 100%;
}
.content__text {
  text-align: center;
  padding: 2em 2em;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.content__invitation {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Merienda", serif;
  color: #FF5D44;
  font-weight: 400;
  margin: 0.8em;
}

.fa-arrow-right {
  margin-left: 10px;
}

.bounce-right {
  animation: bounce-right 1s infinite both;
}

.contact .contact__text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin: 2em;
  font-size: 1.4rem;
  text-align: center;
}
.contact-text {
  padding: 0 0.5em;
}
.contact .contact__box-heading {
  margin: 0.3em;
}
.contact__box-link {
  padding: 0.3em;
  font-size: 3rem;
  color: rgba(41, 41, 41, 0.9);
}
.contact .underline {
  margin: 40px auto;
  width: 30%;
  height: 2px;
  background-color: #FF5D44;
}
.contact .fa-envelope {
  color: rgba(41, 41, 41, 0.9);
  font-size: 1.8rem;
}

.contact {
  position: relative;
  overflow: hidden;
}
.contact__form, .contact__form-top {
  display: flex;
  flex-direction: column;
}
.contact__form-label {
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.contact__form-input {
  margin-bottom: 3em;
  padding: 0.6em 1.2em;
  border: 1px solid #292929;
  border-radius: 8px;
  font-size: 1.6rem;
}
.contact__form-textarea {
  margin-bottom: 3em;
  padding: 0.6em 1.2em;
  border: 1px solid #292929;
  border-radius: 8px;
  font-size: 1.6rem;
  min-height: 150px;
  resize: vertical;
  width: 100%;
}
.contact__form-btn {
  align-self: center;
  padding: 1em;
  width: 100%;
  max-width: 300px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background-color: #FF5D44;
  cursor: pointer;
}
.contact__form-btn:hover {
  background: #fff;
  border: 1px solid #FF5D44;
  color: #FF5D44;
}

.footer {
  width: 100vw;
  color: #fff;
  background-color: #292929;
}
.footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
  padding: 0 2em;
  font-size: 1.4rem;
}
.footer__box-link {
  padding: 0.3em;
  font-size: 2rem;
  color: #fff;
}

.footer__box-social,
.contact__box-social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
}
.footer__box-link,
.contact__box-link {
  text-decoration: none;
  transition: color 0.3s;
}
.footer__box-link:hover,
.contact__box-link:hover {
  color: #FF5D44;
}
.footer__box-link__bottom-text,
.contact__box-link__bottom-text {
  padding: 1em;
  text-align: center;
}

@media (max-width: 360px) {
  .hero__heading {
    font-size: 4.4rem;
  }
  .hero__description {
    font-size: 1.4rem;
  }
  .section-heading {
    font-size: 2rem;
  }
  .section-description {
    font-size: 1.2rem;
  }
  .content__box-heading {
    font-size: 1.6rem;
  }
  .content__text {
    font-size: 1.2rem;
  }
  .content__invitation {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 1.2rem;
  }
  .footer__box {
    font-size: 1.2rem;
  }
  .contact .contact__text {
    font-size: 1.2rem;
  }
  .contact .fa-envelope {
    font-size: 1em;
    margin-right: 5px;
  }
  .contact__form-label {
    font-size: 1.2rem;
  }
}
@media (min-width: 576px) {
  .hero__heading {
    font-size: 6.4rem;
  }
  .hero__description {
    font-size: 1.8rem;
  }
  .logo__img {
    height: 85px;
  }
  .aboutme__text {
    font-size: 1.6rem;
  }
  .section-heading {
    font-size: 3rem;
  }
  .section-padding {
    padding: 2em 3em;
  }
  .content__box-heading {
    font-size: 2.6rem;
  }
  .content__box-photo {
    margin: 0 0.8em;
    width: 40%;
  }
  .content__box-group {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.2em;
  }
  .content__text {
    width: 60%;
    text-align: left;
  }
  .content__photo {
    width: 100%;
  }
  .content__invitation {
    font-size: 2rem;
  }
  .contact__text {
    text-align: center;
  }
  .contact .contact__text {
    font-size: 1.6rem;
  }
  .contact__box-link {
    font-size: 4rem;
  }
  .contact .fa-envelope {
    font-size: 2rem;
  }
  .contact__form-label {
    font-size: 1.6rem;
  }
  .contact .btn {
    font-size: 1.6rem;
  }
  .contact .footer__box {
    font-size: 1.4rem;
  }
  .contact .footer__box-link {
    font-size: 2.4rem;
  }
}
@media (min-width: 768px) {
  .hero__heading {
    font-size: 7.8rem;
  }
  .hero__description {
    font-size: 2.2rem;
  }
  .section-padding {
    padding: 2em 4em;
  }
  .section-description {
    font-size: 1.6rem;
  }
  .content__text {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .nav-container .nav-desktop {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .hero__heading {
    font-size: 9.2rem;
  }
  .hero__description {
    font-size: 2.4rem;
  }
  .content__text {
    font-size: 1.6rem;
  }
  .content__box-heading {
    font-size: 2.8rem;
  }
  .content__box-photo {
    width: 30%;
  }
  .content__invitation {
    font-size: 2.4rem;
  }
  .underline {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  .nav-container {
    height: 120px;
  }
  .nav-container .nav-desktop {
    font-size: 2rem;
  }
  .aboutme__text {
    font-size: 2rem;
  }
  .content__box-photo {
    width: 25%;
  }
}
@keyframes bounce-top {
  0% {
    transform: translate(-50%, -45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translate(-50%, -24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translate(-50%, -12px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translate(-50%, 0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translate(-50%, 0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-right {
  0% {
    transform: translateX(0);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateX(40%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateX(0);
    animation-timing-function: ease-in-out;
  }
}