$main-color: #292929;
$main-transparent: rgba(41, 41, 41, 0.8);
$menu-transparent: rgba(41, 41, 41, 0.9);
$pure-white: #fff;
$orange-color: #ff5d44;
$orange-dark: #fb492e;
$light-gradient: linear-gradient(45deg, rgb(255, 255, 255), rgba(182, 182, 182, 0.73));
