@use 'colors' as *;
@use 'components' as *;
@use 'burger' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	color: $main-color;
	background-color: $pure-white;
	overflow-x: hidden;
}
.main {
	margin-bottom: 2em;
}

.main-subsite {
	padding-top: 120px;
}

//BURGER BUTTON
.burger-btn {
	display: flex;
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 0.6em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 1000;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 5px;
	}

	//BURGER BARS
	&__box {
		position: relative;
		width: 30px;
		height: 30px;
	}

	&:hover {
		.burger-btn__bars,
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			background-color: $orange-color;
		}
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		position: absolute;
		right: 0;
		width: 100%;
		border-radius: 5px;
		height: 3px;
		content: '';
		background-color: $pure-white;
		transform: rotate(360deg);
		transition: width 0.3s;
		transition-duration: 0.22s;
		transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	&__bars {
		&::after {
			top: 13.5px;
			transform: rotate(0deg);
			transition: top 1ms 0.25s ease-in, transform 0.1s ease-in;
		}
		&::before {
			top: 27px;
			opacity: 1;
			transition: top 1ms 0.25s ease-in, opacity 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
	}
	//BURGER ANIMATION
	&.is-active .burger-btn__bars {
		transform: rotate(315deg);
		top: 50%;
		transition-delay: 0.12s;
		transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	&.is-active .burger-btn__bars::before {
		top: 0;
		opacity: 0;
		transition: top 1ms ease-out, opacity 0.1s 0.12s ease-out;
	}

	&.is-active .burger-btn__bars::after {
		top: 0;
		transform: rotate(-90deg);
		transition: op 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

//NAVIGATION BAR
.nav-container {
	position: fixed;
	top: 0;
	display: grid;
	grid-template-columns: 30% 70%;
	width: 100vw;
	height: 100px;
	background-color: $main-color;
	z-index: 100;

	& .nav {
		&-desktop {
			grid-column: 2 / 3;
			display: none;
			justify-content: space-around;
			align-items: center;
			text-transform: uppercase;
		}

		&-mobile {
			position: absolute;
			top: 100px;
			right: 0;
			left: 0;
			padding: 20px 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-transform: uppercase;
			background: $main-color;
			// background: $main-transparent;
			transform: translateX(-102%);
			transition: transform 0.3s;
			z-index: 2000;

			&--active {
				transform: translateX(0%);
			}
		}

		&__link {
			display: block;
			padding: 0.5em;
			font-size: 18px;
			color: $pure-white;
			text-decoration: none;

			&:hover {
				color: $orange-color;
			}
		}
	}
}

.shadow-bg {
	background-color: $menu-transparent !important;
}

.logo {
	display: flex;
	align-items: center;
	grid-column: 1 / 2;
	height: 100%;

	&__img {
		position: absolute;
		height: 70px;
		left: 20px;

		&.is-transparent {
			opacity: 0.8;
		}
	}
}

//HERO SECTION
.hero {
	position: relative;
	height: 100vh;
	background-image: url(../img/hero6.jpg);
	background-size: cover;
	background-position: 50% 20%;
	background-attachment: fixed;
	z-index: 0;

	&__text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		// text-transform: uppercase;
		text-align: center;
		color: $pure-white;
		height: 100%;
	}

	&__heading {
		padding: 0 10px;
		font-family: 'Dancing Script', serif;
		font-weight: 300;
		font-size: 5.2rem;
		margin-bottom: 60px;
	}

	&__description {
		font-size: 1.6rem;
	}

	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(41, 41, 41, 0.6);
		z-index: -2;
	}
	& .arrow {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		bottom: 20px;
		font-size: 36px;

		a {
			color: $pure-white;
		}

		& .bounce-top {
			animation: bounce-top 2s infinite both;
		}
	}
}

// SECTION GENERAL
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.section {
	&-heading {
		position: relative;
		margin: 1em auto;
		font-size: 2.4rem;
		text-align: center;
		text-transform: uppercase;
		font-family: 'Merienda', serif;
		font-weight: 400;
		color: $orange-color;
		letter-spacing: 2px;
	}

	&-padding {
		padding: 2em 2em;
	}
	&-description {
		text-align: center;
		font-size: 1.4rem;
		letter-spacing: 1px;
		padding: 1em;
	}
}

// BUTTONS
.buttons__box {
	display: flex;
	justify-content: center;
}

.btn {
	padding: 0.8em 1em;
	margin: 0.8em;
	font-size: 1.4rem;
	background: $orange-color;
	border: none;
	border-radius: 14px;
	color: $pure-white;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	align-content: center;
	cursor: pointer;
	// width: 50%;

	&:hover {
		background: $pure-white;
		border: 1px solid $orange-color;
		color: $orange-color;
	}
}

// INFO SECTION

.content {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;

		&-heading {
			margin: 1.4em auto;
			font-family: 'Merienda', serif;
			color: $orange-color;
			text-align: center;
			font-size: 2rem;
			font-weight: 400;
		}

		&-photo {
			border: 2px solid $main-transparent;
			background-color: $pure-white;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 1em;
			width: 60%;
		}

		&-group {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__photo {
		padding: 2px;
		width: 100%;
	}

	&__text {
		text-align: center;
		padding: 2em 2em;
		font-size: 1.4rem;
		letter-spacing: 1px;
	}

	&__invitation {
		text-align: center;
		font-size: 1.8rem;
		text-transform: uppercase;
		font-family: 'Merienda', serif;
		color: $orange-color;
		font-weight: 400;
		margin: 0.8em;
	}
}

.fa-arrow-right {
	margin-left: 10px;
}

.bounce-right {
	animation: bounce-right 1s infinite both;
}

.underline {
	margin: 40px auto 0;
	width: 40%;
	height: 2px;
	background-color: $main-transparent;
}

//PORTFOLIO
.gallery {
	display: grid;
	grid-template: auto / 1fr;
	gap: 20px 20px;
	justify-items: center;
	padding: 1em 0;
	transform: scale(1);
	
	&__thumbnail {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 320px;
		max-height: 400px;
		list-style: none;
		box-shadow: 0 0 10px rgba(41, 41, 41, 0.5);
		transition: transform 0.4s;
		border: 2px solid $main-transparent;

		&:hover {
			transform: scale(1.05);
			cursor: pointer;
		}
	}

	&__photo {
		height: 100%;
		width: 100%;
		padding: 2px;
		object-fit: cover;
	}
}

// OFFER
.offer {
	&__cards {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	&__card {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0 10px 10px rgba(41, 41, 41, 0.6);
		height: 400px;
		width: 60%;

		&-img {
			background-size: cover;
			background-position: center;

			&:nth-child(1) {
				background-image: $light-gradient, url(../img/photo1.jpg);
			}
			&:nth-child(2) {
				background-image: $light-gradient, url(../img/photo2.jpg);
			}
			&:nth-child(3) {
				background-image: $light-gradient, url(../img/photo3.jpg);
			}
		}

		&-title {
			padding: 1em 0;
			text-align: center;
			background-color: $orange-color;

			&-text {
				font-family: 'Merienda', serif;
				color: $pure-white;
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}

		&-list {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			text-align: center;
			padding: 1em;
			list-style: none;
			height: 100%;

			&-item {
				padding: 1em 0;
				border-bottom: 1px solid $main-transparent;

				&:last-child {
					border-bottom: none;
				}
			}
		}

		&-price {
			padding: 1em;
			font-size: 1.8rem;
			font-weight: 700;
			color: $orange-color;
		}
	}
}

//CONTACTS

.contact {
	position: relative;
	overflow: hidden;

	& .contact__text {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5em;
		margin: 2em;
		font-size: 1.4rem;
		text-align: center;
	}

	&-text {
		padding: 0 0.5em;
	}

	& .contact__box-heading {
		margin: 0.3em;
	}

	&__box-link {
		padding: 0.3em;
		font-size: 3rem;
		color: $main-transparent;
	}

	&__box-mail {
		color: $main-color;
	}

	.fa-envelope {
		color: $main-transparent;
		font-size: 2rem;
		padding-right: 0.3rem;
	}
	// &__form,
	// &__form-top {
	// 	display: flex;
	// 	flex-direction: column;
	// }

	// &__form-label {
	// 	margin-bottom: 0.5em;
	// 	text-transform: uppercase;
	// 	font-size: 1.4rem;
	// }

	// &__form-input {
	// 	margin-bottom: 3em;
	// 	padding: 0.6em 1.2em;
	// 	border: 1px solid $main-color;
	// 	border-radius: 8px;
	// 	font-size: 1.6rem;
	// }

	// &__form-textarea {
	// 	margin-bottom: 3em;
	// 	padding: 0.6em 1.2em;
	// 	border: 1px solid $main-color;
	// 	border-radius: 8px;
	// 	font-size: 1.6rem;
	// 	min-height: 150px;
	// 	resize: vertical;
	// 	width: 100%;
	// }

	// &__form-btn {
	// 	align-self: center;
	// 	padding: 1em;
	// 	width: 100%;
	// 	max-width: 300px;
	// 	color: $pure-white;
	// 	border: none;
	// 	border-radius: 8px;
	// 	background-color: $orange-color;
	// 	cursor: pointer;

	// 	&:hover {
	// 		background: $pure-white;
	// 		border: 1px solid $orange-color;
	// 		color: $orange-color;
	// 	}
	// }
}

// FOOTER
.footer {
	width: 100vw;
	color: $pure-white;
	background-color: $main-color;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 80px;
		padding: 0 2em;
		font-size: 1.4rem;
	}

	&__box-link {
		padding: 0.3em;
		font-size: 2rem;
		color: $pure-white;
	}
}

.footer,
.contact {
	&__box-social {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 1em;
	}

	&__box-link,
	&__box-mail {
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: $orange-color;
		}
		&__bottom-text {
			padding: 1em;
			text-align: center;
		}
	}
}

@media (max-width: 360px) {
	.hero {
		&__heading {
			font-size: 4.4rem;
		}

		&__description {
			font-size: 1.4rem;
		}
	}
	.section-heading {
		font-size: 2rem;
	}
	.section-description {
		font-size: 1.2rem;
	}

	.content {
		&__box {
			&-heading {
				font-size: 1.6rem;
			}
		}

		&__text {
			font-size: 1.2rem;
		}

		&__invitation {
			font-size: 1.4rem;
		}
	}
	.offer {
		&__card {
			&-list {
				font-size: 1.4rem;
			}
		}
	}
	.btn {
		font-size: 1.2rem;
	}

	.footer {
		&__box {
			font-size: 1.2rem;
		}
	}

	.contact {
		& .contact__text {
			font-size: 1.2rem;
		}

		.fa-envelope {
			font-size: 1em;
			margin-right: 5px;
		}

		&__form-label {
			font-size: 1.2rem;
		}
	}
}
@media (min-width: 576px) {
	.hero {
		&__heading {
			font-size: 6.4rem;
		}

		&__description {
			font-size: 1.8rem;
		}
	}
	.logo__img {
		height: 85px;
	}
	.aboutme__text {
		font-size: 1.6rem;
	}
	.section {
		&-heading {
			font-size: 3rem;
		}

		&-padding {
			padding: 2em 3em;
		}
	}

	.content {
		&__box {
			&-heading {
				font-size: 2.6rem;
			}

			&-photo {
				margin: 0 0.8em;
				width: 40%;
			}

			&-group {
				flex-direction: row-reverse;
				justify-content: center;
				align-items: center;
				margin-bottom: 1.2em;
			}
		}

		&__text {
			width: 60%;
			text-align: left;
		}

		&__photo {
			width: 100%;
		}

		&__invitation {
			font-size: 2rem;
		}
	}

	.contact__text {
		text-align: center;
	}

	.gallery {
		&__thumbnail {
			max-width: 400px;
			max-height: 500px;
		}
	}

	.offer {
		&__card {
			&-list {
				font-size: 1.8rem;
			}
			&-title,
			&-price {
				font-size: 2rem;
			}
		}
	}

	.contact {
		& .contact__text {
			font-size: 1.8rem;
		}

		&__box-link {
			font-size: 4rem;
		}

		.fa-envelope {
			font-size: 2.6rem;
		}

		&__form-label {
			font-size: 1.6rem;
		}

		.btn {
			font-size: 1.6rem;
		}

		.footer {
			&__box {
				font-size: 1.4rem;
			}
			&__box-link {
				font-size: 2.4rem;
			}
		}
	}
}
@media (min-width: 768px) {
	.hero {
		&__heading {
			font-size: 7.8rem;
		}

		&__description {
			font-size: 2.2rem;
		}
	}
	.section {
		&-padding {
			padding: 2em 2.4em;
		}

		&-description {
			font-size: 1.6rem;
		}
	}

	.gallery {
		grid-template: auto / repeat(3, 1fr);
	}

	.offer {
		&__cards {
			flex-direction: row;
			justify-content: space-evenly;
		}

		&__card {
			width: 300px;
		}
	}
	.content {
		&__text {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 992px) {
	.nav-container {
		& .nav-desktop {
			display: flex;
		}
	}

	.nav-mobile {
		display: none;
	}

	.burger-btn {
		display: none;
	}

	.hero {
		&__heading {
			font-size: 9.2rem;
		}

		&__description {
			font-size: 2.4rem;
		}
	}
	.offer {
		&__card-list {
			font-size: 1.6rem;
		}
	}
	.content {
		&__text {
			font-size: 1.6rem;
		}

		&__box {
			&-heading {
				font-size: 2.8rem;
			}

			&-photo {
				width: 30%;
			}
		}

		&__invitation {
			font-size: 2.4rem;
		}
	}

	.underline {
		width: 40%;
	}
}

@media (min-width: 1200px) {
	.nav-container {
		height: 120px;
	}

	.nav-container {
		& .nav-desktop {
			font-size: 2rem;
		}
	}
	.aboutme__text {
		font-size: 2rem;
	}
	.content {
		&__box {
			&-photo {
				width: 25%;
			}
		}
	}

	.gallery {
		grid-template: auto / repeat(4, 1fr);
	}
}

@keyframes bounce-top {
	0% {
		transform: translate(-50%, -45px);
		animation-timing-function: ease-in;
		opacity: 1;
	}
	24% {
		opacity: 1;
	}
	40% {
		transform: translate(-50%, -24px);
		animation-timing-function: ease-in;
	}
	65% {
		transform: translate(-50%, -12px);
		animation-timing-function: ease-in;
	}

	25%,
	55%,
	75%,
	87% {
		transform: translate(-50%, 0px);
		animation-timing-function: ease-out;
	}
	100% {
		transform: translate(-50%, 0px);
		animation-timing-function: ease-out;
		opacity: 1;
	}
}

@keyframes bounce-right {
	0% {
		transform: translateX(0);
		animation-timing-function: ease-in-out;
	}

	50% {
		transform: translateX(40%);
		animation-timing-function: ease-in-out;
	}

	100% {
		transform: translateX(0);
		animation-timing-function: ease-in-out;
	}
}
